body, html {
    background-color: rgba(92, 82, 102, 1);
    font-size: 10px;
    font-family: 'Poppins';
}
h2{
    font-size: 8em;
    font-weight: 600;
    color: white;
}
h4 {
    font-size: 3.5em;
}
.green-heading{
    color: rgba(58, 188, 71, 0.9);
}
.logo {
    padding-top: 3px;
}
a {
    text-decoration: none;
    color: rgba(58, 188, 71, 0.9);
    text-shadow: 5px 5px 10px black;
}
ul {
    list-style: none;
}
.container {
    width: 98.4vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#index-hero-section {
    background-image: url('/images/Polygon\ 1.svg');
    background-repeat: no-repeat;
    background-position: right top;
    width: 98.4vw;
    height: 100vh;
    display: flex;
}
#nav-bar {
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 0 0 0 4vw;
    position: fixed;
    background-color: rgba(92, 82, 102, 1);
    margin-top: -8px;
}
.nav-bar-ul {
    display: flex;
    flex-direction: row;
    column-gap: 5vw;
    padding-left: 25vw;
    
    font-size: 2.4em; 
}
.section-text {
    padding: 2.5vh 0 0 8vw;
    max-height: 80vh;
    color: white;
    display: flex;
    flex-direction: column;
}
.section-text > p {
    font-size: 2.5em;
    width: 550px;
    margin-top: -50px;
}
.section-text > h2 {
    width: 600px;
    padding-top: 50px;
}

.btn-link {
   padding: 10px 20px 10px 20px;
   max-width: 10vw;
   text-align: center;
   color : white;
   background-color: rgba(92, 82, 102, 1);
   font-weight: 600;
   font-size: 2.5em;
   border: 2px solid rgba(58, 188, 71, 0.9);
   border-radius: 10px;
   margin-top: 20px;
}
.nav-bar-ul a:hover {
    color: black;
}
.btn-link:hover {
    background-color: rgba(58, 188, 71, 0.9);
    border: 2px solid black;
    color: black;
}

.figure1 {
    padding: 12vh 0 0 20vw;
}
.footer {
    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2.4em;
    padding-left: 7vw;
    column-gap: 7vw;
    background-color: black;
    margin: 0 -5px -5px -5px;
}
.footer-icons {
    display: flex;
    flex-direction: row;
    column-gap: 7vw;
    padding-left: 40vw;
}

.footer-link:hover {
   transform: scale(1.15);
   color: white;
}
#company-hero-section > .section-text {
    padding-left: 10vw;
}
#our-solutions-section > h2 {
    margin: 10vh auto;
}
.boxes {
    width: 80vw;
    height: 60vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url('/images/Rectangle\ 6.png');
    color: white;
}
.box p {
    font-size: 2em;
    width: 300px;
    text-align: justify;
    margin: 0 5px 0 5px;
}
.box-img {
    width: 64px;
    margin: 20px auto;
}





    


