body, html {
    background-color: rgba(92, 82, 102, 1);
    font-size: 10px;
    font-family: 'Poppins';
}
h1{
    font-size: 8.8em;
    font-weight: 600;
}
a {
    text-decoration: none;
    color: rgba(58, 188, 71, 0.9);
    text-shadow: 5px 5px 10px black;
}
ul {
    list-style: none;
}
#hero-section {
    width: 99vw;
    height: 90vh;
    background-image: url('/images/Polygon\ 1.svg');
    background-repeat: no-repeat;
    background-position: right top;
    display: flex;
}
#nav-bar {
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 0vh 0 0 4vw;
    position: fixed;
}
.nav-bar-ul {
    display: flex;
    flex-direction: row;
    column-gap: 5vw;
    padding-left: 30vw;
    
    font-size: 2.4em; 
}
.section-text {
    padding: 2.5vh 0 0 8vw;
    width: 50vw;
    height: 50vh;
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 2px;    
}
.section-text > p {
    font-size: 2.5em;
}

.btn-link {
   padding: 10px 20px 10px 20px;
   max-width: 10vw;
   text-align: center;
   color : white;
   background-color: rgba(92, 82, 102, 1);
   font-weight: 600;
   font-size: 2.5em;
   border: 2px solid rgba(58, 188, 71, 0.9);
   border-radius: 10px;
}
a:hover {
    color: black;
}
.btn-link:hover {
    background-color: rgba(58, 188, 71, 0.9);
    border: 2px solid black;
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5vw;
    position: fixed;
    font-size: 2.4em;
    padding-left: 4vw;
    width: 100vw;
    align-content: center;
}
.footer-icons {
    padding-left: 50vw;
    display: flex;
    flex-direction: row;
    column-gap: 10vw;
    align-items: center;
    height: 10vh;
}
.figure1 {
    position: relative center right;
    padding-left: 20vw;
    
}


    


